<div class="m-5">
  <h3>Controle de funcionários</h3>
  <hr />

  <div class="mb-3">
    <button class="btn btn-outline-success btn-sm" data-bs-toggle="modal" data-bs-target="#modalCadastro">
      Cadastrar funcionário
    </button>
  </div>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Mátricula</th>
        <th>Cpf</th>
        <th>Data/Hora de cadastro</th>
        <th>Ativo</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let f of funcionario">
        <td>{{f.nome | uppercase }} </td>
        <td>{{f.matricula}}</td>
        <td>{{f.cpf}}</td>
        <td>{{f.dataHoraCadastro | date: 'dd/MM/yyyy HH:mm'}}</td>
        <td>{{f.ativo}}</td>
        <td>
          <button class="btn btn-outline-primary btn-sm me-2" data-bs-toggle="modal" data-bs-target="#modalEdicao"
          (click)="onEdit(f.id)">
            Editar

          </button>
          <button class="btn btn-outline-danger btn-sm"
          (click)="onDelete(f.id)">
            Excluir
          </button>
        </td>
      </tr>

    </tbody>
    <tfoot>
      <tr>
        <td>
          Número de funcionários : {{funcionario.length}}</td>
      </tr>
    </tfoot>

  </table>
</div>

<!-- Modal -->

<div class="modal fade" id="modalCadastro" tabindex="-1" aria- labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Cadastro de funcionários
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="mb-2">
            <label>Nome do funcionário:</label>
            <input type="text" placeholder="Digite aqui" class="form-control" formControlName="nome" />
            <div class="text-danger" *ngIf="f['nome'].touched && f['nome'].invalid">

              O preenchimento do nome é obrigatório e deve ter de 8 a 100 caracteres.
            </div>
          </div>
          <div class="mb-2">
            <label>Matrícula:</label>
            <input type="text" placeholder="Digite aqui" class="form-control" formControlName="matricula" />
            <div class="text-danger" *ngIf="f['matricula'].touched && f['matricula'].invalid">

              O preenchimento da matrícula é obrigatório
            </div>
          </div>
          <div class="mb-2">
            <label>CPF:</label>
            <input type="text" placeholder="Digite aqui" class="form-control" formControlName="cpf" />
            <div class="text-danger" *ngIf="f['cpf'].touched
            
            && f['cpf'].invalid">

              O preenchimento do CPF é obrigatório.
            </div>
          </div>
          <div class="mb-2">
            <button type="submit" class="btn btn-success"[disabled]="form.invalid">
              Realizar Cadastro
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal de edição -->

<div class="modal fade" id="modalEdicao" tabindex="-1" aria- labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Edição de funcionários
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formEdicao" (ngSubmit)="onEditSubmit()">

          <input type="hidden" formControlName="id">

          <div class="mb-2">
            <label>Nome do funcionário:</label>
            <input type="text" placeholder="Digite aqui" class="form-control" formControlName="nome" />
            <div class="text-danger" *ngIf="fEdicao['nome'].touched && fEdicao['nome'].invalid">

              O preenchimento do nome é obrigatório e deve ter de 8 a 100 caracteres.
            </div>
          </div>
          <div class="mb-2">
            <label>Matrícula:</label>
            <input type="text" placeholder="Digite aqui" class="form-control" formControlName="matricula" />
            <div class="text-danger" *ngIf="fEdicao['matricula'].touched && fEdicao['matricula'].invalid">

              O preenchimento da matrícula é obrigatório
            </div>
          </div>
          <div class="mb-2">
            <label>CPF:</label>
            <input type="text" placeholder="Digite aqui" class="form-control" formControlName="cpf" />
            <div class="text-danger" *ngIf="fEdicao['cpf'].touched
            
            && fEdicao['cpf'].invalid">

              O preenchimento do CPF é obrigatório.
            </div>
          </div>
          <div class="mb-3">
            <input type="submit" class="btn btn-primary" [disabled]="formEdicao.invalid" data-bs-dismiss="modal" value="Salvar alterações" />

          </div>
        </form>
      </div>
    </div>
  </div>
</div>